$color-light-primary: rgb(215, 181, 165);
$color-light-secondary: rgb(245, 233, 223);
$color-dark-primary: rgb(66, 46, 40);
$color-accent: rgb(18, 112, 101);
$color-white: rgb(255, 255, 255);
$color-black: rgb(34, 34, 34);
$color-grey-1: rgb(231, 231, 231);
$color-grey-2: rgb(179, 179, 179);
$color-grey-3: rgb(163, 158, 158);

$grid-width: 75rem;
$gutter_horizontal: 3rem;
