.btn {
  padding: .75rem 2.25rem;

  &:link,
  &:visited {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-size: .9rem;
    letter-spacing: .1rem;
  }

  &--dark {
    background-color: $color-dark-primary;
    color: $color-white;
  }

  &--dark-outline {
    border: 1px solid $color-dark-primary;
    color: $color-dark-primary;
  }

  &--shadow-animate {
    &:link,
    &:visited {
      box-shadow: 0 0.6rem 0.8rem 0.3rem rgba($color-black, .2);
      transition: all 200ms ease;
    }
    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1.5rem 1.5rem .2rem rgba($color-black, .2);
    }

    &:active,
    &:focus {
      transform: translatey(.3rem);
      box-shadow: 0 .2rem .25rem .05rem rgba($color-black, .3);
    }
  }

  &--slide-animate {
    &:link,
    &:visited {
      transition: all 200ms ease-in-out;
    }

    &:hover {
      transform: translateX(1rem);
    }
  }
}
