.product-stat {
  &__value {
    display: inline-block;
    padding-right: .5rem;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-accent;
    border-bottom: 3px solid $color-black;
    margin-bottom: .3rem;
  }

  &__label {
    font-size: .76rem;
  }
}
