*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $color-white;
  font-size: 62.5%;
  position: relative;
}

section {
  padding: 2rem 7rem;


  p {
    font-size: .9rem;
    line-height: 1.65rem;
    color: $color-grey-3;
  }
}
